.wrapper-content {
    margin: 40px;
    font-size: 14px;
    .cursor-pointer {
        cursor: pointer;
        &:hover {
            color: blue;
            text-decoration: underline blue;
        }
    }
}